recursive-include kotti_backend/tests *
recursive-include kotti_backend *.zcml
include *.rst
recursive-include kotti_backend *.po
recursive-include kotti_backend *.mo
recursive-include kotti_backend *.pot
